:root {
  --colour-success: #37a330;
  --colour-issue: #e09f0a;
  --colour-text-main: #616161;
  --colour-accent: #e68686;
  --colour-accent-translucent: #e6868617;
  --colour-background: #ecf5f7;
  --colour-background-tone: #cfe7ec;
}

@media (prefers-color-scheme: dark) {
  :root {
    --colour-text-main: #ffffff;
    --colour-background: #000000;
    --colour-background-tone: #414446;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--colour-background);
  color: var(--colour-text-main);
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
